.overlay {
  display: flex;
  box-sizing: border-box;
  position: fixed;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
  overflow: hidden;
  z-index: 0;
}