.body {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  padding: 40px 40px 40px 40px;
  font-family: 'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  background-color: #131316;
}

* {
  box-shadow: 0 0 1px red;
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/JetBrainsMono-Regular.ttf) format("ttf");
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 700;
  src: url(./fonts/JetBrainsMono-Bold.ttf) format("ttf");
}

@font-face {
  font-family: 'Iceland';
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/Iceland-Regular.ttf) format("ttf");
}