.section {
  box-sizing: border-box;
  width: 600px;
  margin: 40px 0 0;
}

.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 40px 0 0;
  height: 755px;
  overflow-y: scroll;
}

.title {
  margin-bottom: 10px;
}


.container::-webkit-scrollbar {
  width: 8px;
}

.container::-webkit-scrollbar-track {
  background: #2F2F37;
}

.container::-webkit-scrollbar-thumb {
  background-color: #8585AD;
}

.ingredient_box {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  box-sizing: border-box;
  margin: 0;
  padding: 24px 16px 40px 16px;
  list-style: none;
}